<h1>{{componentName}}</h1>
<div *ngIf="carts.length; else messageBlock"
    ngClass=border> <!-- обычно значение берем в кавычки -->
    <select #orderByField>
        <option *ngFor = "let field of fields" [value]="field">{{field}}</option>
    </select>
    <div class="carts">
        <app-cart-item *ngFor = "let cart of (carts | orderBy: orderByField.value : true)"
            class="cart"
            [cart] = "cart"
            (removeCart)="onRemoveCart($event)"
            (addCart)="onAddCart($event)"
            [ngClass]="'border'"
            appHighlight>
        </app-cart-item>
    </div>
    <div>
        <p>Products count: {{cartService.totalQuantity}}</p>
        <p>Total price: {{carts | sum:"price" | currency}}</p>
    </div>
</div>
<ng-template #messageBlock>
    <p>No items in the shopping cart</p>
</ng-template>
