.carts {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.cart {   
    padding: 10px;
    margin: 20px;
}

.border {
    border: 1px solid gray;
    border-radius: 4px;
}