<h1>{{componentName}}</h1>
<div *ngIf="carts.length; else messageBlock"
    class="carts"
    [ngClass]="'border'">
    <app-cart-item *ngFor = "let cart of carts" 
        class="cart" 
        [cart] = "cart" 
        (removeCart)="onRemoveCart($event)"
        (addCart)="onAddCart($event)"
        [ngClass]="'border'"
        appHighlight>
    </app-cart-item>
    <div>
        <p>Products count: {{cartService.totalQuantity}}</p>
        <p>Total price: {{carts | sum:"itemsPrice"}}$</p>
    </div>
</div>
<ng-template #messageBlock>
    <p>No items in the shopping cart</p>
</ng-template>