<div *ngIf="cart">  
    <h2>{{cart.item.productName | uppercase}}</h2>
    <p>{{cart.item.description}}</p>
    <p>Price {{cart.item.price | currency}}</p>
    <div *ngIf="cart.count > 1" [ngClass]="'border'">
        <p>Count {{cart.item.productName}}: {{cart.count}}</p>
        <p>Total price {{cart.item.productName}}: {{cart.itemsPrice | currency}}</p>
    </div>
    <button (click)="onAddCart(cart)" appBoldBorder='5px'>Add one more {{cart.item.productName}}</button><br>
    <button (click)="onRemoveCart(cart)" appBoldBorder='10px'>Remove {{cart.item.productName}} from cart</button>
</div>